@model IEnumerable<ProjManagement.Models.ViewProjectModel>

@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "CreateProject", "Project")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PDescription)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.project.Pstatus)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.PDName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.PDescription)
        </td>
       
        
        <td>
            @Html.DisplayFor(modelItem => item.PStatusSelectList.Skip(item.project.Pstatus - 1).First().Text)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", "Project", new { id = item.project.ProjectID }, null)
            @Html.ActionLink("Details", "Details", "Project", new { id = item.project.ProjectID }, null)
            @Html.ActionLink("Delete", "Delete", "Project", new { id = item.project.ProjectID }, null)
            @Html.ActionLink("View Employees", "ViewEmployees", "Project", new { id = item.project.ProjectID }, null)
        </td>
    </tr>
}

</table>
