@model IEnumerable<ProjManagement.Models.ProjectModel>

@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project List (This site is under construction)</h2>

<p>
    @Html.ActionLink("Create New", "CreateProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDescription)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Pstatus)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PDName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PDescription)
        </td>
       
        
        <td>
            @Html.DisplayFor(modelItem => item.Pstatus)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
        </td>
    </tr>
}

</table>
