@model IEnumerable<ProjManagement.Models.ViewEmployeeModel>

@{
    ViewBag.Title = "ViewEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees involved in project.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.DateOfBirth)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.employee.Type)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.employee.Salary)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.employee.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.EDname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Profession)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.employee.SuperName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.DateOfBirth)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.TypeSelectList.Skip(item.employee.Type-1).First().Text)            
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.employee.Salary)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.StatusSelectList.Skip(item.employee.Estatus-1).First().Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.EDname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfSelectList.Skip(item.employee.Profession-1).First().Text)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.employee.SuperName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Employee", new { id = item.employee.EmployeeID }, null)
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Project List", "Index", "Project")
</div>
