@model IEnumerable<ProjManagement.Models.ProjectModel>
    @using DataLibrary.BusinessLogic

@{
    ViewBag.Title = "ViewProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects employee is involved in.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliverables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Open_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Close_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pstatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collaborators)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deliverables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completion_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collaborators)
            </td>
            <td>
                @if (item.PDName == EmployeeProcessor.FindEmployee(int.Parse(User.Identity.Name)).First().EDname)
                {
                    @Html.ActionLink("Details", "ManagerProjectDetails", "Manager", new { id = item.ProjectID }, null)
                    @Html.ActionLink("Hours", "ManagerEmployeeProjectHours", "Manager",
                        new { projectid = item.ProjectID, employeeid = Model.Cast<ProjManagement.Models.ProjectModel>().First().EmployeeID }, null)
                }
            </td>
        </tr>
    }

</table>
<hr />
<div>
    @Html.ActionLink("Back to Employee Profile", "ManagerEmployeeDetails", "Manager", new { id = Model.Cast<ProjManagement.Models.ProjectModel>().First().EmployeeID }, null) |
    @Html.ActionLink("Back to Employee List", "ManagerEmployees", "Manager")
</div>