@model ProjManagement.Models.ViewProjectModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project.ProjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.ProjectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.PDName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.PDName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.PDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.PDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Deliverables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Deliverables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Open_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Open_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Close_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Close_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Completion_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Completion_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Pstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PStatusSelectList.
                    Skip((model.project.Pstatus - 1) > -1 ? (model.project.Pstatus - 1) : 0).First().Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.Collaborators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Collaborators)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("View Employees", "ManagerProjectEmployees", new { id = Model.project.ProjectID },
           new { @class = "btn btn-primary btn-lg" })

        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "ManagerProjectEdit", new { id = Model.project.ProjectID }) |
    @Html.ActionLink("Back to List", "ManagerProjects")
</p>
