@model IEnumerable<ProjManagement.Models.ViewBudgetModel>

@{
    ViewBag.Title = "ViewBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View budget for project</h2>

<p>
    @Html.ActionLink("Add new", "CreateBudget", 
            new { id = Model.Cast<ProjManagement.Models.ViewBudgetModel>().First().BProjectID}, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.budget.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget.Estimated_Income)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget.Estimated_Expense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget.Estimated_Profit)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.budget.BDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.budget.Estimated_Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.budget.Estimated_Expense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.budget.Estimated_Profit)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BProjectID, bdate = item.BDate }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.BProjectID, bdate = item.BDate })
        </td>
    </tr>
}

</table>
