@model IEnumerable<ProjManagement.Models.BudgetModel>

@{
    ViewBag.Title = "ViewBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View budget for project</h2>

<p>
    @Html.ActionLink("Add new", "CreateBudget", 
            new { id = Model.Cast<ProjManagement.Models.BudgetModel>().First().BProject_ID}, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimated_Income)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimated_Expense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimated_Profit)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimated_Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimated_Expense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimated_Profit)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BProject_ID, bdate = item.BDate }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.BProject_ID, bdate = item.BDate })
        </td>
    </tr>
}

</table>
