<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @using DataLibrary.BusinessLogic;
                @if (Request.IsAuthenticated)
                {
                    var managerList = LoginProcessor.LoadManagers();
                    List<DataLibrary.Models.EmployeeModel> dummy = EmployeeProcessor.FindEmployee(int.Parse(User.Identity.Name));
                    foreach (DataLibrary.Models.EmployeeModel single in dummy)
                    {
                        ViewData["name"] = single.Fname + " " + single.Lname;
                        ViewData["id"] = int.Parse(User.Identity.Name);
                        ViewData["role"] = "Employee";
                    }
                    foreach (int managerID in managerList)
                    {
                        if (ViewData["id"].Equals(managerID))
                        {
                            ViewData["role"] = "Manager";
                        }
                    }
                    if (HttpContext.Current.User.IsInRole("Employee"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("My Account", "UserProfile", "User", new { id = ViewData["id"] }, null)</li>
                            <li>@Html.ActionLink("My Projects", "UserProjects", "User", new { id = ViewData["id"] }, null)</li>
                            <li>@Html.ActionLink("Log Hours", "UserLogMenu", "User", new { id = ViewData["id"] }, null)</li>
                        </ul>
                    }
                    else if (HttpContext.Current.User.IsInRole("Manager"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Manager")</li>
                            <li>@Html.ActionLink("My Account", "Index", "User", new { id = ViewData["id"] }, null)</li>
                            <li>@Html.ActionLink("My Employees", "ManagerEmployees", "Manager")</li>
                            <li>@Html.ActionLink("My Projects", "ManagerProjects", "Manager")</li>
                            <li>@Html.ActionLink("Reports", "ProjectAnalysis", "Analytics")</li>
                        </ul>
                    }
                    else if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("All Employees", "Index", "Employee")</li>
                            <li>@Html.ActionLink("All Projects", "Index", "Project")</li>
                            <li>@Html.ActionLink("Reports", "ProjectAnalysis", "Analytics")</li>
                        </ul>
                    }
                }

                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartialView")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - COSC3380 Group 6 Database Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
