@model IEnumerable<ProjManagement.Models.EmployeeModel>

@{
    ViewBag.Title = "All Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (ViewBag.ssn == item.SuperSsn || User.IsInRole("Admin"))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
        </td>
    </tr>
    }
}

</table>
