@model IEnumerable<ProjManagement.Models.ViewProjectModel>

@{
    ViewBag.Title = "My Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.PDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.Pstatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.Collaborators)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project.ProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.PDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.PDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PStatusSelectList.Skip(item.project.Pstatus - 1).First().Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.Collaborators)
            </td>
            <td>

                @Html.ActionLink("Details", "UserProjectDetails", "User", new { id = item.project.ProjectID }, null)
                @Html.ActionLink("Hours", "UserHours", "User",
                new { projectid = item.project.ProjectID, employeeid = int.Parse(User.Identity.Name) }, null)

            </td>
        </tr>
    }

</table>
<hr />