@using ProjManagement.Models
@model ProjManagement.Models.AuthVM

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 25px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
        color: white;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">
    <div class="column" onclick="openTab('login');" style="background:blue;" id="loginBOX">Login</div>
    <div class="column" onclick="openTab('forgot');" style="background:gray;" id="forgotBOX">Forgot</div>
</div>

<!-- The expanding grid (hidden by default) -->
<div id="login" class="hideable" style="display:block">
    @Html.Partial("LoginPartialView", Model.LoginForm)
</div>

<div id="forgot" class="hideable" style="display:none">
    @Html.Partial("ForgotPartialView", Model.RecoverForm)
</div>

<text class="text-danger" id="errmsg"> @ViewBag.ErrorMessage </text>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        // Hide all elements with class="hideable", except for the one that matches the clickable grid column
        function openTab(tabName) {
            var i, x, y, z;
            x = document.getElementsByClassName("hideable");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            y = document.getElementsByClassName("hideable2");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
            z = document.getElementsByClassName("form-control");
            for (i = 0; i < z.length; i++) {
                z[i].value = null;
            }
            if (tabName == "login") {
                document.getElementById("loginBOX").style.background = "blue";
                document.getElementById("forgotBOX").style.background = "gray";
            }
            else if (tabName == "forgot") {
                document.getElementById("forgotBOX").style.background = "blue";
                document.getElementById("loginBOX").style.background = "gray";
                document.getElementById("usernameBOX").style.background = "gray";
                document.getElementById("passwordBOX").style.background = "gray";
            }
            document.getElementById(tabName).style.display = "block";
            document.getElementById("errmsg").style.display = "none";
        }

        function syncP() {
            var n1 = document.getElementById('newpass');
            var n2 = document.getElementById('confirmpass');
            n2.value = n1.value;
        }

        function syncU() {
            var n1 = document.getElementById('newusername');
            var n2 = document.getElementById('confirmusername');
            n2.value = n1.value;
        }

        // Hide all elements with class="hideable", except for the one that matches the clickable grid column
        function openTab2(tabName) {
            var i, y, z;
            y = document.getElementsByClassName("hideable2");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
            z = document.getElementsByClassName("form-control");
            for (i = 0; i < z.length; i++) {
                z[i].value = null;
            }
            if (tabName == "username") {
                document.getElementById("usernameBOX").style.background = "blue";
                document.getElementById("passwordBOX").style.background = "gray";
            }
            else if (tabName == "password") {
                document.getElementById("passwordBOX").style.background = "blue";
                document.getElementById("usernameBOX").style.background = "gray";
            }
            document.getElementById(tabName).style.display = "block";
            document.getElementById("errmsg").style.display = "none";
        }


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var test = '@ViewData["State"].ToString()';
            if (test == "user") {
                document.getElementById("forgotBOX").style.background = "blue";
                document.getElementById("loginBOX").style.background = "gray";
                document.getElementById("usernameBOX").style.background = "blue";
                document.getElementById("passwordBOX").style.background = "gray";
                document.getElementById("login").style.display = "none";
                document.getElementById("forgot").style.display = "block";
                document.getElementById("username").style.display = "block";
            }
            else if (test == "pass") {
                document.getElementById("forgotBOX").style.background = "blue";
                document.getElementById("loginBOX").style.background = "gray";
                document.getElementById("usernameBOX").style.background = "blue";
                document.getElementById("passwordBOX").style.background = "gray";
                document.getElementById("login").style.display = "none";
                document.getElementById("forgot").style.display = "block";
                document.getElementById("password").style.display = "block";
            }
        });
    </script>
}
